<div class="footer__addr">
    <h1 class="footer__logo">ML Strength</h1>
    <h1 class="footer__logo">Health and Fitness</h1>

    <h2>Contact INFO</h2>

    <address>
    5534 Somewhere In. The World 22193-10212<br>
        
    <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
  </address>
</div>

<ul class="footer__nav">
    <li class="nav__item">
        <h2 class="nav__title">Media</h2>

        <ul class="nav__ul">
            <li>
                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://www.facebook.com/">Facebook</a>
            </li>

            <li>
                <a href="https://www.instagram.com/"  class="fa fa-instagram"></a>
                <a href="https://www.instagram.com/">Instagram</a>
            </li>

            <li>
                <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
                <a href="https://twitter.com/?lang=en">Twitter</a>
            </li>
        </ul>
    </li>

    <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Map site</h2>

        <ul class="nav__ul nav__ul--extra">
            <li>
                <a href="activities.html">Actiivities</a>
            </li>

            <li>
                <a href="facilities.html">Our facilities</a>
            </li>

            <li>
                <a href="shop.html">Shop</a>
            </li>

            <li>
                <a href="staff.html">Staff</a>
            </li>
        </ul>
    </li>

    <li class="nav__item">
        <h2 class="nav__title">Legal</h2>

        <ul class="nav__ul">
            <li>
                <a href="#">Privacy Policy</a>
            </li>

            <li>
                <a href="#">Terms of Use</a>
            </li>
        </ul>
    </li>
</ul>

<div class="legal">
    <p>&copy; 2022 ML Strength/Mateo Ramirez. All rights reserved.</p>
</div>