<a href="index.html" class="logo-activities">
    <div class="logo-pages">ML Strength</div>
    <div class="sub-pages">Health and Fitness</div>
</a>
    <!-- burger menu / responsive / mobiles & tablets-->
    <div class="burger-icon" id="menu-toggle">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
    </div>
    <!-- normal menu / destokps -->
    <ul id="menu-items">
        <li>
            <a href="../facilities.html" class="underline-hover">Our facilities</a>
        </li>
        <li>
            <a href="/html/shop.html" class="underline-hover">Shop</a>
        </li>
        <li>
            <a href="/html/staff.html" class="underline-hover">Staff</a>
        </li>
        <li>
            <a href="/html/contact.html" class="underline-hover">Join us!</a>
        </li>
    </ul>


